mat-toolbar {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;

    li {
      margin: 0 15px;

      a {
        font-weight: 400;
      }
    }
  }
}

a {
  color: white;
}
