<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin()"*ngIf="!isLoading" [formGroup]="form">
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email" />
      <mat-error *ngIf="form.get('email')?.errors?.email || form.get('email')?.errors?.required ">Please enter a valid email.</mat-error>
      <mat-error *ngIf="form.get('email')?.errors?.authFailed"></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="passwordInput" formControlName="password" />
      <mat-error *ngIf="form.get('password')?.errors?.required">Please a valid password.</mat-error>
      <mat-error *ngIf="form.get('password')?.errors?.authFailed"></mat-error>
      <mat-error *ngIf="form.get('email')?.errors?.authFailed && form.get('password')?.errors?.authFailed">
        Invalid email or password.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      LOG IN
    </button>
  </form>
</mat-card>
