<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput type="text" [ngModel]="post?.title" #title="ngModel"
        placeholder="Título" name="title" required
      >
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput placeholder="Descrição"
        name="content" [ngModel]="post?.content"
        #content="ngModel" required
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button color="accent"
      type="submit"
    >
      SAVE POST
    </button>
  </form>
</mat-card>
