html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

mat-form-field,
textarea {
  width: 100%;
}
